<div class="center">
  <h1 class="horror-text">Welcome to Rotten Pumpkins</h1>
</div>

<%# <ul class = "cards">
<li>You can keep track of your favorite Halloween movies here!</li>
<li>You can also rate how scary they are.</li>
<li>Add a movie you've seen recently.</li>
<li>Also leave a review on a movie if you'd like!</li>
<li>Enjoy your spooky szn!</li>
</ul> %>